@font-face {
    font-family: Cherrybomb;
    src: url(/fonts/Cherrybomb.ttf);
  }
@font-face {
    font-family: Chewy;
    src: url(/fonts/Chewy-Regular.ttf);
  }
$bg:#80c1ff;
$black:#282a35;
$content:#ffeda8;
$content2:#fff1e3;
$nav:#dbbf8b;

html{
    height:100%;
    width:100%;
    font-size: 20px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background-image: url(/images/pawbg.png);
    background-repeat: repeat
}
body{
    font-family: Chewy;
    color: $black;
    font-size:1rem;
    line-height:normal;
    font-weight:150;
    
    html {
        scrollbar-width: auto;
        scrollbar-color: $nav $content2;
    }
}
/*Main*/
#container{
    max-width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    line-height:normal;
}
@mixin boxthing( $contentbg:$content ){
    width:100%;
    background-color: $contentbg;
    color:$black;
    margin: 5px 0px 5px;
    border-radius: 10px;
    border:2px dashed $black;
    padding:10px
}
#content{
    @include boxthing
}
#content2{
    @include boxthing( $contentbg:$content2 )
}
hr{
    background-color:$black;
    border:none;
    border-radius:5px;
    height: 2px;
}
a{
    color:$black;
    font-size: inherit;
    text-decoration: underline;
}
a:hover{
    color: $bg;
    transition: 0.6s ease
}

.twosides{
    display: flex;
    padding: 0px 3rem;
}
.left, .right{
    display:block;
    width: 50%;
    text-align: start;
}
iframe{
    max-width: 100%;
}
#text{
    width: 80%;
    margin:0 auto;
}
#preloader {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background: $bg
      url("/images/oval.svg")
      no-repeat center;
    z-index: 9999;
  }
/*nav*/
#nav {
    background-color: $nav;
    width: 100%;
    padding: 1px 20px 1px 0px;
    margin-left:-10px;
    margin-bottom: 10px;
    color:$content2;
    font-family: Cherrybomb;
    font-size: 1.25rem;
    ul {
        display:flex;
        list-style-type:none;
        justify-content: space-evenly;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: $content2;
        transition: 0.6s ease;
        -webkit-transition: 0.6s ease
    }

}
/*Text*/
h1, h2, h3{
    font-family: Cherrybomb;
}
p{
    font-size: larger;
}
textarea{
    border: $black 2px dashed;
    padding:0.5rem;
    background-color:$content2;
    font-size:0.5rem;
    padding:5px
}
/*Table*/
table, th, td {
    text-align:start;
    font-family: "Chewy";
    border: 1px solid $black;
    padding:0.5rem;
    border-collapse: collapse;
}
table{
    margin-top: 15px;
    width:95%;
}
th{
    background-color: $nav;
}
/*Fun*/
::selection {
    background: $bg;
    color:white;
}
#pagedoll{
    position: fixed;
    width: 180px;
    bottom: 5px;
    right:-10px;
}
/*media querey :P*/
@media (max-width: 768px){
    html{
        font-size:15.5px
    }
    .left, .right{
        width: 100%;
        text-align: center;
    }
    .twosides{
        display: block;
        padding: 0px;
    }
}
@media (max-width: 500px){
    #pagedoll{
        display: none;
    }
    
}